<h1>Listing log_ins</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @log_ins.each do |log_in| %>
      <tr>
        <td><%= link_to 'Show', log_in %></td>
        <td><%= link_to 'Edit', edit_log_in_path(log_in) %></td>
        <td><%= link_to 'Destroy', log_in, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log in', new_log_in_path %>
