<!-- Remember! All links have to be absolute. This will be opened in someone else's inbox -->

<h1>Looks like you forgot your password.</h1>

<p>Don't worry. Here's your token</p>

<%= :token %>

<%= link_to @url, @url %>
